 .cabecalho {
    background-color: #A0A09E;
}
/*
.logoCabecalho {
    height: 90%;
}

.paginas {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
        list-style-type: none;
    }

    li a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
    }
} */