.divImagemCarro {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.divImagemCarro button {
    background: transparent;
    border: none;
}

.imgCarro {
    width: 90%;
    border-radius: 25px;
    border: 3px solid black;
}

.setaD {
    transform: rotate(180deg);
}
