@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zen Dots";
}

::-webkit-scrollbar{
    width: 12px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: #C6C6C6;
}